body {
    background-image: url("https://preview.ibb.co/fuzMUb/image.jpg");
    background-position: center top;
    background-attachment: fixed;
}

h1 {
    font-family: "Verdana", sans-serif;
}

p {
    font-family: "Verdana", sans-serif;
}

div {
    background-color: white;
    width: 300px;
    border: 0px;
    padding: 25px;
    margin: 25px;   
}
